
/* Always show scrollbar to prevent page jumping when pressing read more link */
html {
    overflow-y: scroll; 
}


.footer {
    position: absolute;
    bottom: 10px;
    left: 80px;
}



.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border: 0px;
}

.nav-tabs {
    border-bottom:0px;
}